.guide-title {
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: color 0.3s;
  font-size: 30px;
}

.guide-title:hover {
  color: lightskyblue;
  text-decoration: none;
}

.guide-created {
  font-style: italic;
}

.created:hover {
  text-decoration: none;
}

.guide-created {
  margin: 0;
}
