.guide-title {
  font-weight: bold;
  transition: color 0.3s;
  font-size: 30px;
}
.author-name {
  color: rgb(6, 96, 153);
}
.author-name:hover {
  color: rgb(80, 155, 202);
}
.guide-title:hover {
  color: rgb(80, 155, 202);
}

.guide-created {
  font-style: italic;
  color: #868e96;
}
.created {
  transition: color 0.3s;
}
.created:hover {
  color: rgb(80, 155, 202);
}

.guide-created {
  margin: 0;
}
