.home-container {
  padding-top: 13.5%;
  background-image: linear-gradient(
      rgba(21, 25, 29, 0.7),
      rgba(21, 25, 29, 0.7)
    ),
    url("../images/home.jpg");
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.search-header {
  color: white;
  text-align: center;
  font-size: 2.75rem;
}

@media only screen and (max-width: 768px) {
  .home-container {
    height: 130vh;
  }
  .search-header {
    font-size: 2.2rem;
  }
}
