.number-container {
  border: 2px solid #3399cc;
  background-color: whitesmoke;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.number-container > p {
  text-align: center;
  margin-top: 25%;
  font-size: 200%;
}

.col-container {
  min-height: 100px;
  height: 100%;
  width: 100%;
  position: relative;
}
