.advanced-container {
  border: 1px solid rgb(87, 85, 85);
  border-radius: 10px;
  max-width: 1000px;
  background-color: white;
  font-weight: bold;
  padding: 10px;
}
.search-form {
  margin: 0 10px;
}

@media only screen and (max-width: 599px) {
  .bottom {
    position: absolute;
    top: 255px;
    left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  .search-form {
    margin: 0px 200px;
  }
}
